<link rel="stylesheet" href="/css/device_value_ahsd.css">
<div id="page-wrapper">
    <input type="hidden" id="user" value="{{username}}">
    <div class="dropdown-list-wrap" style="padding: 5px;">
        <label for="selectGroupDevice">Chọn nhóm thiết bị: </label>
        <select id="selectGroupDevice" class="dropdown-list">
            {{#groups as |group|}}
            <option value="{{group._id}}">{{group.group_name}}</option>
            {{/groups}}
        </select>
    </div>
    <div class="row">
        {{!-- group --}}
        {{#groups as |group|}}
        {{#if_ @index '>' '0'}}
        <div class="col-lg-12 group-wrapper" id="group-wrapper-{{group._id}}" style="display: none;">
            {{else}}
            <div class="col-lg-12 group-wrapper" id="group-wrapper-{{group._id}}">
                {{/if_}}
                {{!-- group label --}}
                <div class="group-label">
                    <i class="fas fa-leaf fa-lg"></i>
                    <span class="group-name">{{this.group_name}}</span>
                </div>
                {{!-- group item --}}
                <div class="row group-item" id="g-{{group._id}}">

                    {{!-- tab gateway controll --}}
                    <div class="tab-controll">
                        {{#each ../devices as |device|}}
                        {{#if_ device.group._id '==' group._id}}
                        <button class="tab-link status-na"
                            onclick="openGroupContent('dev-{{device.sn_number}}',this,'g-{{group._id}}')"
                            id="tab-{{device.sn_number}}">
                            {{device.device_name}}</button>
                        {{/if_}}
                        {{/each}}
                    </div>
                    {{!-- tab content gateway --}}
                    {{#each ../devices as |device|}}
                    {{#if_ device.group._id '==' group._id}}
                    <div class="tab-content" id="dev-{{device.sn_number}}" style="display: none;">
                        <input type="hidden" class="device_sn" value="{{device.sn_number}}">
                        {{!-- device item --}}
                        <div class="date-picker-div">
                            <label for="#date-picker-{{device.sn_number}}">
                                Thời gian
                            </label>
                            <input type="button" class="date-picker" id="date-picker-{{device.sn_number}}"
                                chart-id="chart-{{device.sn_number}}">
                        </div>
                        {{!-- device controll --}}
                        <div class="group-device-item">
                            {{#each device.device_type.uom_values as |value_type|}}
                            <button class="device-item" style="background-color: {{value_type.color}};"
                                id="val-{{device.sn_number}}-{{@key}}" device-sn="{{device.sn_number}}"
                                color="{{value_type.color}}" key-value="{{@key}}" value-name="{{value_type.name}}"
                                uom="{{value_type.uom}}" on-chart="false">
                                <p class="device-item-dynamic-value">
                                    <span class="value-type">{{value_type.name}}</span>
                                    <br>
                                    <span class="device-item-value ">
                                        <span class="value-wrapper">
                                            <i class="value">N/a</i>
                                            <i class="uom">{{value_type.uom}}</i>
                                        </span>
                                    </span>
                                    <br>
                                </p>
                            </button>
                            {{/each}}
                        </div>
                        {{!-- chart area --}}
                        <div class="chart-area" style="display: none;">
                            <input type="hidden" id="uom-key-{{device.sn_number}}">
                            <div class="quick-time-wrapper col-lg-12">
                                <ul class="quick-time-list">
                                    <li class="quick-time-item" style="border:solid 1px #016343; color:#016343;"
                                        start-time="00:00" end-time="03:00"><span style="color: #fff;">3h</span></li>
                                    <li class="quick-time-item" style="border:solid 1px #016343; color:#016343;"
                                        start-time="03:00" end-time="09:00"><span style="color: #fff;">6h</span></li>
                                    <li class="quick-time-item" style="border:solid 1px #016343; color:#016343;"
                                        start-time="06:00" end-time="12:00"><span style="color: #fff;">9h</span></li>
                                    <li class="quick-time-item" style="border:solid 1px #016343; color:#016343;"
                                        start-time="09:00" end-time="23:59"><span style="color: #fff;">12h</span></li>
                                    <li class="quick-time-item high-light-box"
                                        style="border:solid 1px #016343; color:#016343;" start-time="00:00"
                                        end-time="23:59"><span style="color: #fff;">24h</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-12 chart-wrapper">
                                <canvas id="chart-{{device.sn_number}}" width="100%" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    {{!-- device item --}}
                    {{/if_}}
                    {{/each}}
                </div>
                {{!-- tab content gateway --}}
            </div>
            {{/groups}}
            {{!-- end group --}}
        </div>
        <!-- /.row -->
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/chart.min.js"></script>
<script src="/vendor/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/vendor/jquery.daterangepicker.js"></script>
<script src="/js/device_value_ahsd.js"></script>